<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <% var days = ['Sunday', 'Monday', 'Tuesday', 'Thursday', 'Friday', 'Saturday']; %>
    <div class="row px-5 h-100" style="margin: 0">
        <% days.forEach(day => { %>
            <div class=" col-sm m-1 bg-white rounded px-1 px-md-2">
                <div class="h6 text-center position-relative py-2"><%= day %></div>
                <% data.forEach(event => { if(event.day === day.toLowerCase()){ %>
                    <div class="event row border rounded m-1 py-1" id="<%= event.event_id %>"  data-bs-toggle="modal" data-bs-target="#eventmodal">
                        <div class="col event-title"><%= event.title %></div>
                    </div>
                    <div class="modal fade" id="eventmodal" aria-hidden="true" aria-labelledby="eventmodal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel"><%= event.title %></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                    <div class="modal-body">
                                        <p><%=event.description%></p>
                                    </div>
                            </div>
                        </div>
                    </div>
                <% }}); %>
            </div>
        <% }); %>
    </div>
</main>

<%- include ('../partials/footer') %>