<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <% var days = ['Sunday', 'Monday', 'Tuesday', 'Thursday', 'Friday', 'Saturday']; %>
    <div class="row px-5 h-100" style="margin: 0">
    <% days.forEach(day => { %>
        <div class=" col-sm m-1 bg-white rounded px-1 px-md-2
    " >
    <div class="h6 text-center position-relative py-2"><%= day %></div>
    <% data.forEach(event => { if(event.day === day){ %>
        <div class="event row border rounded m-1 py-1" id="<%= event.event_id %>">
            <div class="col event-title"><%= event.title %></div>
        </div>
    <% }}); %>
    </div>
    <% }); %>
    </div>
</main>

<%- include ('../partials/footer') %>