<div class="col">
    <%- include ('../partials/message') %>
</div>
<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <% if(data.length===0){ %>
                <h4 class="text-center display-6">You are currently enrolled in all programs</h4>
                <% }else{ %>
                    <div class="container">
                        <h1 class="display-6">Join Programs</h1>
                        <div class="jpcard">
                            <table class="jptable">
                                <thead>
                                    <tr>
                                        <th class="table_head" scope="col">Program</th>
                                        <th class="table_head" scope="col">Coach</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody" . class="tableBody">
                                    <% data.forEach(ev=> { %>
                                        <tr class="table-primary2">
                                            <td>
                                                <%= ev.program_name %>
                                            </td>
                                            <td>
                                                <%= ev.owner_name %>
                                            </td>
                                            <td align="right">
                                                <form style="margin:0" action='/joinprogram' method='POST'><input
                                                        type="hidden" name="program_id" value="<%- ev.program_id %>" />
                                                    <button type='submit' class="join_button">Join</button>
                                                </form>
                                            </td>
                                            <% }) %>
                                        </tr>
                                        <tr class="create_row">
                                            <td style="border-bottom: none;"></td>
                                            <td style="border-bottom: none;">
                                                <form style="margin:0">
                                                    <button type='submit' class="join_button">Create</button>
                                                </form>
                                            </td>
                                            <td style="border-bottom: none;"></td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% } %>
        </main>

        <%- include ('../partials/footer') %>