<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <div class="row">
              <% data.forEach(programs => { %>      
                <div class="container">
                <div class="card w-50 ">
                    <div class="card-header">
                        <%= programs.program_name %>
                        <a>--------------------------------------------</a>
                        <%= programs.owner_name %>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Picture goes here!</p>
                    </div>

                    <div class="card-footer">
                            
                            <form method = "delete" action ="/programs/Leave">
                              <input type = "hidden" name = "program_id" value = "<%= programs.program_id %>" />
                              <button type = "submit" class ="btn btn-sm btn-outline-danger" >Leave</button>
                            </form>
                        
                    </div>
                  </div>
                  </div>
                <% }); %>
    </div>
    </div>
</main>

<%- include ('../partials/footer') %>